@{
    ViewBag.Title = "Shopping Cart";
    //@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
}
<div style="clear: both; display: block; height: 40px"></div>
<h2>Giỏ hàng</h2>

    <div id="divPartialViewCartList">
        @Html.Partial("~/Views/Shared/PartialCartList.cshtml")
    </div>

<div style="clear: both; display: block; height: 40px"></div>
